#am-save-animation { background-image:url("../icons/appmenu/saveanimation.svg"); }
#am-load-animation { background-image:url("../icons/appmenu/loadanimation.svg"); }
#am-save-object { background-image:url("../icons/appmenu/saveobject.svg"); }
#am-load-object { background-image:url("../icons/appmenu/loadobject.svg"); }
#am-project-settings { background-image:url("../icons/appmenu/projectsettings.svg"); }
