/* Control Templates */
.iconbtn {
    width:38px;
    height:38px;
    background-repeat:no-repeat;
}

div.object-list-item {
    min-height:20px;
    font-size:.8rem;
}

.marquee:hover {
    display:inline-block;
    overflow:hidden;
    animation: marquee 8s linear infinite;
    padding-left:100%;
}

.marquee-container {
    overflow:hidden;
    padding-left:0;
}

.frame-box {
    width:5px;
    height:38px;
}

@keyframes marquee {
    0% { transform:translate(0,0); }
    100% {transform:translate(-100%, 0); }
}

/* Single elements */
#anim-title { font-size:1.5rem; }

#central-editor {
    height:calc(100vh - 140px);

    margin-top:46px;
    margin-bottom:92px;
}

/* Colors */
.bg-label { background-color:#E9ECEF; }